<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sony Camera Control</title>
  <style>
    #liveViewContainer {
      display: none; /* Hidden by default */
      margin-top: 20px;
    }
    #liveViewImage {
      width: 700px; 
      height: 500px; 
      border: 1px solid #ccc;
    }
  </style>
</head>

<body>
  <h1>Camera Control</h1>

  {% if alert %}
    <h1>{{ alert }}</h1>
  {% endif %}

  <!-- Render the form using Django's form tools -->
  <form id="cameraControlForm" method="post" action="{% url 'control_camera' %}">
    {% csrf_token %}
    <input type="hidden" name="uuid" value="{{ current_uuid }}">
    <input type="hidden" id="id_isLiveView" name="isLiveView" value="0">
    <input type="hidden" id="id_isRecord" name="isRecord" value="0">
    <input type="hidden" id="id_isStillShooting" name="isStillShooting" value="0">

    <p>
        {{ form.group.label_tag }} {{ form.group }}
    </p>
    <p>
        {{ form.action.label_tag }} {{ form.action }}
    </p>
    <button type="submit">Submit</button>
  </form>

  <!-- Container for params dropbox -->
  <div id="paramsContainer" style="display: none;">
    <label for="paramsSelect">Please select a parameter: </label>
    <select id="paramsSelect"></select>
    <button id="paramsConfirmButton" type="button">Confirm</button>
  </div>

  <div id="liveViewContainer">
    <h2>Live View</h2>
    <img id="liveViewImage" src="" alt="Live View Stream">
    <h1>LiveView Window</h1>
  </div>

  <script>
    function groupSelectionListener() {
      const groupSelect = document.getElementById('id_group');
      const actionSelect = document.getElementById('id_action');

      // Listen for changes on the group selection
      groupSelect.addEventListener('change', function() {
          const groupId = this.value;
          // Clear the api selection field (for when switching between groups)
          actionSelect.innerHTML = '';

          if (groupId) {
              // Fetch the apis for the selected group
              fetch("{% url 'api_list' %}?group_id=" + groupId)
                  .then(response => response.json())
                  .then(data => {
                      if (data.error) {
                          console.error('Error:', data.error);
                      } else {
                          // Populate api choices
                          data.apis.forEach(function(api) {
                              const apiOption = document.createElement('option');
                              apiOption.value = api.id;
                              apiOption.textContent = api.name;
                              actionSelect.appendChild(apiOption);
                          });
                      }
                  })
                  .catch((error) => {
                      console.error('Error fetching APIs:', error);
                  });
          }
      });
    }

    function formSubmissionListener() {
      document.getElementById('cameraControlForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent default form submission

        const formData = new FormData(this);
        const formAction = this.getAttribute('action');

        // Send the form data to Django server
        fetch(formAction, {
          method: 'POST',
          body: formData,
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert('Error: ' + data.error);
          } else if (data.params){
            const { action_list_url, payload: payloadData, action } = data.payload;
            const container = document.getElementById('paramsContainer');
            const paramSelection = document.getElementById('paramsSelect');
            const confirmButton = document.getElementById('paramsConfirmButton');

            // Populate the select options
            data.params.forEach(param => {
              const option = document.createElement('option');
              option.value = param;
              option.textContent = param;
              paramSelection.appendChild(option);
            });
            // Unhide the container
            container.style.display = 'block'; 

            confirmButton.onclick = function() {
              const selectedParam = paramSelection.value;
              payloadData['params'] = [selectedParam];
              sendRequestToLocalServer(
                action_list_url,
                payloadData,
                action
              );

              container.style.display = 'none';
              paramSelection.innerHTML = '';
            };
          } else {
            // Send the response data to the local server (Port 8001) for camera control
            sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      });
    }

    groupSelectionListener();
    formSubmissionListener();

    function sendRequestToLocalServer(actionListUrl, payload, action) {
      // Send API request to the local server running on port 8001
      fetch('http://localhost:8001/camera_control', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'action': action,
          'action_list_url': actionListUrl,
          'payload': payload
        })
      })
      .then(response => response.json())
      .then(data => {
        console.log('Camera Response:', data);
        if (data.error) {
          alert('Error: ' + data.error);
          return;
        }

        const isLiveViewInput = document.getElementById('id_isLiveView');
        const isRecordInput = document.getElementById('id_isRecord');
        const isStillShootingInput = document.getElementById('id_isStillShooting');
        const liveViewContainer = document.getElementById('liveViewContainer')
        const liveViewImage = document.getElementById('liveViewImage')
        
        if (action == 'startRecMode'){
          isRecordInput.value = 1
          isStillShootingInput.value = 1 
        } 
        else if (action == 'stopRecMode'){
          isRecordInput.value = 0
          isStillShootingInput.value = 1
        }  
        // If response from local server is success and startLiveview is requested, make the container visible
        else if (action == 'startLiveview' || action == 'startLiveviewWithSize') {
          liveViewContainer.style.display = 'block';
          // Added /liveview endpoint to fetch the stream source -> append timestamp to prevent browser caching.
          liveViewImage.src = 'http://localhost:8001/liveview?' + new Date().getTime();
          isLiveViewInput.value = 1;
        } 
        else if (action == 'stopLiveview' || action == 'stopRecMode') {
          liveViewContainer.style.display = 'none';
          liveViewImage.src = '';
          isLiveViewInput.value = 0;
        } else {
          alert('Action "' + payload.method + '" executed successfully.');
        }
      })
      .catch((error) => {
        console.error('Error communicating with local server:', error);
      });
    }
  </script>
</body>
</html>