{% extends 'base.html' %}

{% block extra_head %}
  <style>
    #liveViewContainer {
      position: relative;
      z-index: 1;
    }

    #mainContainerRight.blur-background::before {
      filter: blur(8px);  
    }
  </style>
{% endblock %}

{% block title %}
  Camera Control
{% endblock %}

{% block left_side %}
  {% if alert %}
    <h1>{{ alert }}</h1>
  {% endif %}

  <!-- Render the form using Django's form tools -->
  <form id="cameraControlForm" class="d-flex align-items-center justify-content-evenly flex-wrap m-3" method="post" action="{% url 'control_camera' %}">
    {% csrf_token %}
    <input type="hidden" name="uuid" value="{{ current_uuid }}">
    <input type="hidden" id="id_isLiveView" name="isLiveView" value="0">
    <input type="hidden" id="id_isRecord" name="isRecord" value="0">
    <input type="hidden" id="id_isStillShooting" name="isStillShooting" value="0">

    <div class="d-flex justify-content-evenly align-items-center flex-wrap w-100 mb-3 fs-5">
      <div>
        {{ form.group.label_tag }} {{ form.group }}
      </div>  
      <div>
        {{ form.action.label_tag }} {{ form.action }}
      </div>
    </div>

    <div class="d-flex justify-content-center w-100">
      <button class="btn btn-success shadow-sm"  type="submit">Select API</button>
    </div>
  </form>

  <!-- Container for params dropbox -->
  <div id="paramsContainer" class="p-3" style="display: none;"></div>

  <!-- Container for params input -->
  <div id="paramsInputContainer" class="p-3" style="display: none;"></div>
{% endblock %}

{% block response_messages %}
  <h3 id="localServerResponse" style="display: none;"></h3>
{% endblock %}

{% block right_side %}
  <div id="liveViewContainer" class="shadow mx-auto my-auto" style="display: none;">
    <h2>Live View</h2>
    <img id="liveViewImage" src="" alt="Live View Stream" style="width: 700px; height: 500px; border: 1px solid #ccc;">
  </div>
{% endblock %}

{% block js_scripts %}
  <script>
    function init() {
      initGroupSelectionListener();
      initFormSubmissionListener();
    }

    // Handle api group selection
    function initGroupSelectionListener() {
      const groupSelect = document.getElementById('id_group');
      const actionSelect = document.getElementById('id_action');
      const paramsContainer = document.getElementById('paramsContainer');
      const paramsInputContainer = document.getElementById('paramsInputContainer');

      groupSelect.addEventListener('change', function() {
        handleGroupChange(groupSelect, actionSelect, paramsContainer, paramsInputContainer);
      });

      actionSelect.addEventListener('change', function() {
        resetParams(paramsContainer, paramsInputContainer);
      });
    }

    // Handle actions upon change api group
    function handleGroupChange(groupSelect, actionSelect, paramsContainer, paramsInputContainer) {
      const groupId = groupSelect.value;

      // Reset fields params options field
      actionSelect.innerHTML = '';
      resetParams(paramsContainer, paramsInputContainer);

      // Fetch the apis of the newly choosen group
      if (groupId) {
        fetchApisForGroup(groupId, actionSelect);
      }
    }

    // Handle the fetching of apis
    function fetchApisForGroup(groupId, actionSelect) {
      fetch("{% url 'api_list' %}?group_id=" + groupId)
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            setAlert(data.error)
          } else {
            populateActionSelect(actionSelect, data.apis);
          }
        })
        .catch((error) => {
          setAlert('Error fetching APIs: '+ error);
        });
    }
  
    // Populate api options field with fetched apis
    function populateActionSelect(actionSelect, apis) {
      apis.forEach(function(api) {
        const apiOption = document.createElement('option');
        apiOption.value = api.id;
        apiOption.textContent = api.name;
        actionSelect.appendChild(apiOption);
      });
    }

    function resetParams(paramsContainer, paramsInputContainer) {
      paramsContainer.style.display = "none";
      paramsInputContainer.style.display = "none";
      paramsContainer.innerHTML = '';
      paramsInputContainer.innerHTML = '';
    }

    // Api-Form submission logic, when the user submits a choosen API
    function initFormSubmissionListener() {
      const form = document.getElementById('cameraControlForm');
      form.addEventListener('submit', handleFormSubmission);
    }

    function handleFormSubmission(e) {
      e.preventDefault();
      const form = e.target;
      const formData = new FormData(form);
      const formAction = form.getAttribute('action');
      const localServerResponse = document.getElementById('localServerResponse')

      localServerResponse.style.display = 'none'

      fetch(formAction, {
        method: 'POST',
        body: formData,
        headers: { 'X-Requested-With': 'XMLHttpRequest' }
      })
      .then(response => response.json())
      .then(data => {

        if (data.error) { // If Error field is in the response -> error 
          setAlert('❌ Error: ' + JSON.stringify(data.error, null, 2))
        } else if (data.params) { // If "params" parameter is in response -> User input needed
            let params_selection_types = data.params.type
            if (params_selection_types.length == 1){ // if the type is only array of 1 -> user only need to either choose from a chosen set of params or input them manually  
              let params_selection_type = params_selection_types[0] 
              
              if (params_selection_type == 'choose'){ // even if more than 1 params are required, as long as the user only needs to choose them, the type array should still have only 1 element "choose"
                handleChooseParamsResponse(data) 
              } else if(params_selection_type == 'input') { // Same as to when only choosing params is required
                handleInputParamsResponse(data)
              }
            } else {
              // Type array is more than 1 then a combi of inputs are needed
              // Setting white balance needs params selection and manual params input but only a certain param is selected -> query the params to be selected firstly
              if (data.payload.action == "setWhiteBalance"){
                setParamSelection(data.params.params.slice(0,1), (selectedParams) => {

                  if (selectedParams.includes("Color Temperature")){
                    const input_config = data.params.params.slice(1,2) 
                    setManualParamInput(input_config, (inputValue) => {
                      if (inputValue.length > 0){
                        const allParams = [...selectedParams, true, ...inputValue];
                        data.payload.payload["params"] = allParams
                        sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
                      }
                    });
                  } else {
                    const allParams = [...selectedParams, true, 3000]
                    data.payload.payload["params"] = allParams
                    sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
                  }
                });
              } else { // Generic cases where a combi of choosing and manually inputting params are needed  
                handleMixedParamsResponse(data);
              }
            } 
        } else {
          sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
        }
      })
      .catch((error) => {
        setAlert('Error: '+error);
      });
    }

    // Function handling cases where user needs to both choose params and input params
    // In this case each set of params choices or input config should have a corresponding type, 
    // their orders also has to match to keep track of what to do with each set of data
    // Ex: type ["choose","choose","type"] -> params [[choosen set 1],[choosen set 2],[input config 1]]
    function handleMixedParamsResponse(data){ 
      types = data.params.types;
      allParamSets = data.params.params;
      paramsToSend = [];

      for (let i = 0; i<types.length; i++){
        if (types[i] == "choose"){
          setParamSelection([all_param_sets[i]], (selectedParam) => {
            paramsToSend.push(selectedParam)
          });
        }else if(types[i] == "input"){
          setManualParamInput([all_param_sets[i]], (inputParam) => {
            paramsToSend.push(inputParam)
          });
        }else{
          setAlert('Error: Unhandle param action.');
        }
      }

      data.payload.payload["params"] = paramsToSend
      sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
    }

    // Handler for case where user only need to input parameters
    function handleInputParamsResponse(data){
      input_configs = data.params.params
      setManualParamInput(input_configs, (inputValues) => {
        if (inputValues.length > 0){
          data.payload.payload["params"] = inputValues
          sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
        }
      });
    }

    function setManualParamInput(input_configs, callback) {
      // Input config is an array of arrays of 3 ints, first is the min value, second is the max and the third is the step.
      // Each array inside Input config represent an input field to be generate, the settings of this input field is set accordingly to its config array
      const paramsInputContainer = document.getElementById('paramsInputContainer');
      paramsInputContainer.innerHTML = '';
      const numberOfInputs = input_configs.length;

      for (let i = 0; i < numberOfInputs; i++) {
        const paramInput = document.createElement('input');
        paramInput.type = 'number';
        paramInput.id = `input${i}`;
        paramInput.step = input_configs[i][2];
        paramInput.min = input_configs[i][0];
        paramInput.max = input_configs[i][1];
        paramInput.className = "me-3"

        paramsInputContainer.appendChild(paramInput);
      }

      const submitButton = document.createElement('button');
      submitButton.textContent = 'Confirm parameters';
      submitButton.type = 'button';
      submitButton.className = 'btn btn-success shadow-sm';

      paramsInputContainer.style.display = "block"
    
      submitButton.addEventListener('click', function () {
        let inputValues = [];
        for (let i = 0; i < numberOfInputs; i++) {
          const inputElement = document.getElementById(`input${i}`);
          const step = input_configs[i][2];
          const lowerLimit = input_configs[i][0];
          const upperLimit = input_configs[i][1];

          // Logic to check if the user input is inside the required range 
          // If so do a round (snap) to the closest valid value according to the step and min value
          if (inputElement) {
            const inputValueStr = inputElement.value;
            let inputValue = parseFloat(inputValueStr);

            if (lowerLimit > inputValue || inputValue > upperLimit){
              setAlert(""+(i+1)+". input out of bound ("+lowerLimit+" .. "+upperLimit+" ).");
              inputValues = []
              break;  
            }

            inputValue = roundInputAccordingToConfig(lowerLimit, step, inputValue)
            inputValues.push(inputValue);
          }else{
            setAlert("Please fill in the "+i+". input first.")
          }
        }
        callback(inputValues);
        paramsInputContainer.innerHTML = '';
      });

      paramsInputContainer.appendChild(submitButton);
    }

    function roundInputAccordingToConfig(lowerLimit, step, inputValue){
      const roundedStepsAboveLower = Math.round((inputValue-lowerLimit)/step)
      return lowerLimit + (roundedStepsAboveLower * step)
    }

    // Handler for case where user only need to input parameters
    function handleChooseParamsResponse(data){
      setParamSelection(data.params.params, (selectedParams) => {
        data.payload.payload["params"] = selectedParams
        sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
      });
    }
    
    function setParamSelection(choose_sets, callback) {
      // Choose sets "is" an array of arrays, where each array is a set of available parameters, from which the user can choose
      // A Select Field will get generated for each set of parameters 
      console.log("Choose sets: "+choose_sets)

      const paramsContainer = document.getElementById('paramsContainer');
      const selectElements = [];

      // Populate the select options
      paramsContainer.innerHTML = '';
      
      choose_sets.forEach((choose_set, index) => {
        const select = document.createElement('select');
        select.id = `chooseSetSelect${index}`;
        select.name = `chooseSetSelect${index}`;
        select.className = "me-3"

        choose_set.forEach(param => {
            const option = document.createElement('option');
            option.value = JSON.stringify(param);
            option.textContent = JSON.stringify(param);
            select.appendChild(option);
        });

        paramsContainer.appendChild(select);
        selectElements.push(select);
      });

      // Unhide the container
      paramsContainer.style.display = 'block';

      const submitButton = document.createElement('button');
      submitButton.textContent = 'Confirm parameters';
      submitButton.type = 'button';
      submitButton.className = 'btn btn-success shadow-sm';

      submitButton.addEventListener('click', function () {
        const selectedParams = [];
          for (let i = 0; i < selectElements.length; i++) {
              const select = selectElements[i];
              if (select) {
                const selectedValue = JSON.parse(select.value);
                selectedParams.push(selectedValue);
              } else {
                  setAlert(`Dropdown ${i + 1} is missing.`);
                  return;
              }
          }
          callback(selectedParams);

          paramsContainer.style.display = 'none';
          paramsContainer.innerHTML = '';
      });

      paramsContainer.appendChild(submitButton);
    }

    // Send request to local server
    function sendRequestToLocalServer(actionListUrl, payload, action) {
      if (action == "setIsoSpeedRate"){
        payload.params[0] = String(payload.params[0])
      }
      console.log("Payload to be sent:", payload)

      fetch('http://localhost:8001/camera_control', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          'action': action,
          'action_list_url': actionListUrl,
          'payload': payload
        })
      })
      .then(response => response.json())
      .then(data => handleLocalServerResponse(data, action, payload))
      .catch((error) => {
        setAlert('Error communicating with local server: '+ error);
      });
    }
    
    // Handle response from local server
    function handleLocalServerResponse(data, action, payload) {
      let response = ''

      if (data.error) {
        response = '❌ Error: \n' + JSON.stringify(data.error, null, 2);
      } else {
        response = '✅ Action "' + payload.method + '" executed successfully.\n'+JSON.stringify(data.result, null, 2);
        const mainContainerRight = document.getElementById('mainContainerRight');
        const isLiveViewInput = document.getElementById('id_isLiveView');
        const isRecordInput = document.getElementById('id_isRecord');
        const isStillShootingInput = document.getElementById('id_isStillShooting');
        const liveViewContainer = document.getElementById('liveViewContainer');
        const liveViewImage = document.getElementById('liveViewImage');

        // Update form inputs based on successful action and adjust html data.
        if (action == 'startRecMode') {
          isRecordInput.value = 1;
          isStillShootingInput.value = 1;
        } else if (action == 'stopRecMode') {
          isRecordInput.value = 0;
          isStillShootingInput.value = 1;
        } else if (action == 'startLiveview' || action == 'startLiveviewWithSize') {
          mainContainerRight.classList.add('blur-background')
          liveViewContainer.style.display = 'block';
          liveViewImage.src = 'http://localhost:8001/liveview?' + new Date().getTime();
          isLiveViewInput.value = 1;
        } else if (action == 'stopLiveview' || action == 'stopRecMode') {
          mainContainerRight.classList.remove('blur-background')
          liveViewContainer.style.display = 'none';
          liveViewImage.src = '';
          isLiveViewInput.value = 0;
          mainContainerRight.classList.remove('blur-background')
        }
      }
      setAlert(response)
    }

    function setAlert(alertText ){
      const responseDiv = document.getElementById("responseDiv");
      const localServerResponse = document.getElementById('localServerResponse');
      localServerResponse.innerHTML = alertText.replace(/\n/g, '<br>');
      localServerResponse.style.display = "block";

      responseDiv.classList.remove('d-none')
      responseDiv.classList.add('d-block')
    }

    // Init the listeners when the page loads
    init();
  </script>
{% endblock %}