<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sony Camera Control</title>
  <style>
    #liveViewContainer {
      display: none; /* Hidden by default */
      margin-top: 20px;
    }
    #liveViewImage {
      width: 700px; 
      height: 500px; 
      border: 1px solid #ccc;
    }
  </style>
</head>

<body>
  <h1>Camera Control</h1>

  {% if alert %}
    <h1>{{ alert }}</h1>
  {% endif %}

  <!-- Render the form using Django's form tools -->
  <form id="cameraControlForm" method="post" action="{% url 'control_camera' %}">
    {% csrf_token %}
    <input type="hidden" name="uuid" value="{{ current_uuid }}">
    <input type="hidden" id="id_isLiveView" name="isLiveView" value="0">
    <input type="hidden" id="id_isRecord" name="isRecord" value="0">
    <input type="hidden" id="id_isStillShooting" name="isStillShooting" value="0">

    <p>
        {{ form.group.label_tag }} {{ form.group }}
    </p>
    <p>
        {{ form.action.label_tag }} {{ form.action }}
    </p>
    <button type="submit">Submit</button>
  </form>

  <!-- Container for params dropbox -->
  <div id="paramsContainer" style="display: none;">
    <label for="paramsSelect">Please select a parameter: </label>
    <select id="paramsSelect"></select>
    <button id="paramsConfirmButton" type="button">Confirm</button>
  </div>

  <div id="paramsInputContainer">

  </div>

  <div id="liveViewContainer">
    <h2>Live View</h2>
    <img id="liveViewImage" src="" alt="Live View Stream">
  </div>

  <h3 id="localServerResponse" style="display: none;"></h3>

  <script>
    function init() {
      initGroupSelectionListener();
      initFormSubmissionListener();
    }

    // Handle api group selection
    function initGroupSelectionListener() {
      const groupSelect = document.getElementById('id_group');
      const actionSelect = document.getElementById('id_action');
      const paramsContainer = document.getElementById('paramsContainer');
      const paramSelection = document.getElementById('paramsSelect');

      groupSelect.addEventListener('change', function() {
        handleGroupChange(groupSelect, actionSelect, paramSelection, paramsContainer);
      });

      actionSelect.addEventListener('change', function() {
        resetParams(paramSelection, paramsContainer);
      });
    }

    // Handle actions upon change api group
    function handleGroupChange(groupSelect, actionSelect, paramSelection, paramsContainer) {
      const groupId = groupSelect.value;

      // Reset fields params options field
      actionSelect.innerHTML = '';
      resetParams(paramSelection, paramsContainer);

      // Fetch the apis of the newly choosen group
      if (groupId) {
        fetchApisForGroup(groupId, actionSelect);
      }
    }

    // Handle the fetching of apis
    function fetchApisForGroup(groupId, actionSelect) {
      fetch("{% url 'api_list' %}?group_id=" + groupId)
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            console.error('Error:', data.error);
          } else {
            populateActionSelect(actionSelect, data.apis);
          }
        })
        .catch((error) => {
          console.error('Error fetching APIs:', error);
        });
    }

    // Populate api options field with fetched apis
    function populateActionSelect(actionSelect, apis) {
      apis.forEach(function(api) {
        const apiOption = document.createElement('option');
        apiOption.value = api.id;
        apiOption.textContent = api.name;
        actionSelect.appendChild(apiOption);
      });
    }

    function resetParams(paramSelection, paramsContainer) {
      paramSelection.innerHTML = '';
      paramsContainer.style.display = 'none';
    }

    // Api-Form submission logic
    function initFormSubmissionListener() {
      const form = document.getElementById('cameraControlForm');
      form.addEventListener('submit', handleFormSubmission);
    }

    function handleFormSubmission(e) {
      e.preventDefault();
      const form = e.target;
      const formData = new FormData(form);
      const formAction = form.getAttribute('action');
      const localServerResponse = document.getElementById('localServerResponse')

      localServerResponse.style.display = 'none'

      fetch(formAction, {
        method: 'POST',
        body: formData,
        headers: { 'X-Requested-With': 'XMLHttpRequest' }
      })
      .then(response => response.json())
      .then(data => {
        if (data.error) { // If Error field is in the reponse -> error 
          setAlert('❌ Error: ' + JSON.stringify(data.error, null, 2))
        } else if (data.params) {
          if (data.payload.action == 'setTouchAFPosition'){
            setManualParamInput(data.params, (inputValues) => {
              data.payload.payload["params"] = inputValues
              sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
            });
          } else {
            handleParamsResponse(data);
          }
        } else {
          sendRequestToLocalServer(data.payload.action_list_url, data.payload.payload, data.payload.action);
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    }

    function setManualParamInput(numberOfInputs, callback) {
      const paramsInputContainer = document.getElementById('paramsInputContainer');
      paramsInputContainer.innerHTML = '';

      for (let i = 1; i <= numberOfInputs; i++) {
        const paramInput = document.createElement('input');
        paramInput.type = 'number';
        paramInput.id = `input${i}`;
        paramInput.step = '0.1';
        paramInput.min = '0';
        paramInput.max = '100';

        paramsInputContainer.appendChild(paramInput);
      }

      const submitButton = document.createElement('button');
      submitButton.textContent = 'Submit';
      submitButton.type = 'button';

    // Fetching inputs and round them to the first decimal if needed
      submitButton.addEventListener('click', function () {
        const inputValues = [];
        for (let i = 1; i <= numberOfInputs; i++) {
          const inputElement = document.getElementById(`input${i}`);
          console.log(inputElement)
          
          if (inputElement) {
            const inputValueStr = inputElement.value;
            let inputValue = parseFloat(inputValueStr);

            if (inputValueStr.includes('.')) {
                const decimalPart = inputValueStr.split('.')[1];
                if (decimalPart.length > 1) {
                    inputValue = Math.round(inputValue * 10) / 10;
                }
            }
            inputValues.push(inputValue);
          }else{
            setAlert("Please fill in the "+i+". input first.")
          }
        }
        console.log(inputValues)
        callback(inputValues);
        paramsInputContainer.innerHTML = '';
      });
      

      paramsInputContainer.appendChild(submitButton);
    }
    
    // List the params received from Django server as options and handle the request sending to the local server.
    function handleParamsResponse(data) {
      const { action_list_url, payload: payloadData, action } = data.payload;
      const paramsContainer = document.getElementById('paramsContainer');
      const paramSelection = document.getElementById('paramsSelect');
      const confirmButton = document.getElementById('paramsConfirmButton');

      // Populate the select options
      paramSelection.innerHTML = '';
      data.params.forEach(param => {
        const option = document.createElement('option');
        option.value = param;
        option.textContent = param;
        paramSelection.appendChild(option);
      });

      // Unhide the container
      paramsContainer.style.display = 'block';

      confirmButton.onclick = function() {
        const selectedParam = paramSelection.value;
        payloadData['params'] = selectedParam;

        sendRequestToLocalServer(action_list_url, payloadData, action);
        paramsContainer.style.display = 'none';
        paramSelection.innerHTML = '';
      };
    }

    // Send request to local server
    function sendRequestToLocalServer(actionListUrl, payload, action) {
      fetch('http://localhost:8001/camera_control', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
          'action': action,
          'action_list_url': actionListUrl,
          'payload': payload
        })
      })
      .then(response => response.json())
      .then(data => handleLocalServerResponse(data, action, payload))
      .catch((error) => {
        console.error('Error communicating with local server:', error);
      });
    }
    
    // Handle response from local server
    function handleLocalServerResponse(data, action, payload) {
      let response = ''
      console.log('Camera Response:', data);

      if (data.error) {
        response = '❌ Error: \n' + JSON.stringify(data.error, null, 2);
      } else {
        response = '✅ Action "' + payload.method + '" executed successfully.\n'+JSON.stringify(data.result, null, 2);
        const isLiveViewInput = document.getElementById('id_isLiveView');
        const isRecordInput = document.getElementById('id_isRecord');
        const isStillShootingInput = document.getElementById('id_isStillShooting');
        const liveViewContainer = document.getElementById('liveViewContainer');
        const liveViewImage = document.getElementById('liveViewImage');

        // Update form inputs based on successful action and adjust html data.
        if (action == 'startRecMode') {
          isRecordInput.value = 1;
          isStillShootingInput.value = 1;
        } else if (action == 'stopRecMode') {
          isRecordInput.value = 0;
          isStillShootingInput.value = 1;
        } else if (action == 'startLiveview' || action == 'startLiveviewWithSize') {
          liveViewContainer.style.display = 'block';
          liveViewImage.src = 'http://localhost:8001/liveview?' + new Date().getTime();
          isLiveViewInput.value = 1;
        } else if (action == 'stopLiveview' || action == 'stopRecMode') {
          liveViewContainer.style.display = 'none';
          liveViewImage.src = '';
          isLiveViewInput.value = 0;
        } else {
          alert('Action "' + payload.method + '" executed successfully.');
        }
      }
      setAlert(response)
    }

    function setAlert(alertText ){
      const localServerResponse = document.getElementById('localServerResponse')
      localServerResponse.innerHTML = alertText.replace(/\n/g, '<br>')
      localServerResponse.style.display = "block"
    }

    // Init the listeners when the page loads
    init();
  </script>
</body>
</html>